html{
    height: 100%;
}
body{
    height: 100%;
}
.box{
    margin: 0 auto;
    border: 3px solid blue;
    width: 300px;
    height: 300px;
    overflow: scroll;
    background-color: whitesmoke;
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-attachment: local;
}

p{
    color: blue;
    margin: 5px;
    padding: 5px;
    text-indent: 20px;
}

.para>p{
    color: black;
}